<% include partials/header %>

       <h1>This in my homepage</h1>

       <h2>Take my work for it...:)</h2>
       
       <p>
           It really really really is!! 
       </p>
       
       <h4>by Juha Tapio Järä</h4>
    </body>
</html>