<h1>Awesome movie seach app</h1>

<form action="/results" method="GET">
    <input type="text" name="searchText" placeholder="type something in here"/>
    <button type="submit">Search</button>
</form>