<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="/forgot" method="POST">
                <legend>Forgot password</legend>
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input class="form-control" type="email" name="email" autofocus>    
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-default btn-block btn-primary">Send reset link</button>
                </div>
            </form>
        </div>
    </div>
</div>
<% include ../partials/footer %>