<% include ../partials/header %>

<h1>Register</h1>

<form method="POST" action="/register">
    <input type="text" placeholder="username" name="username"/>
    <input type="password" placeholder="password" name="password"/>
    <button>Sign up</button>
</form>

<% include ../partials/footer %>